<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <!-- 以下のユーザー名を、ユーザー詳細ページへのリンクに書き換えてください -->
        <%= link_to(user.name, "/users/#{user.id}") %>
      </div>
    <% end %>
  </div>
</div>
